/.idea
/.vscode
/venv
/.venv

__pycache__

/MicroPythonDumbDisplay.iml
/MicroPythonDumbDisplay.code-workspace


# non-DD
/experiments/pyclock


#/_dev_test.py
#/_dev_test.ipynb
/.micropico
/_my_secret.py

uDumbDisplay.code-workspace
/OLD.md
/setup_OLD.py
